aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
Brotli==1.0.9
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.1.7
frozenlist==1.3.3
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
multidict==6.0.4
mutagen==1.46.0
py-cord==2.4.1
pycryptodomex==3.17
sniffio==1.3.0
sqlparse==0.4.3
tzdata==2022.7
websockets==11.0.2
yarl==1.9.2
yt-dlp==2023.3.4
